*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
    font-family: fantasy;
    --bg-color: #202225;
    --bg-color-rgb: 32, 34, 37;
    --game-bg-color: #4f545c;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100vw;
    height: 100vh;

    background-color: var(--bg-color);
}

@media (min-width: 1340px){
    :root{
        --width: 1100px;
        --height: 880px;
        --cell-font: 2rem;
    }
}

@media (max-width: 1340px){
    :root{
        --width: 800px;
        --height: 600px;
        --cell-font: 1rem;
    }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--game-bg-color);
    width: var(--width);
    height: var(--height);
    border-radius: 1rem;
    box-shadow: 0 0 10px 10px rgba(255,255,255, 0.1);
}

.hud{
    display: flex;
    user-select: none;
    justify-content: space-evenly;
    width: var(--width);
    height: 30px;
}

#difficulty-selector{
    display: flex;
    align-items: center;
    width: 4%;
    height: 20px;
}


#flag-counter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    width: 10%;
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--game-bg-color);
    box-shadow: 0 0 10px 10px rgba(255,255,255, 0.1);
}

#flag-counter .fa-flag{
    width: 20px;
    height: 20px;
    color: red;
}

.game-window{
    display: grid;
    gap: 1px 1px;
    width: 93%;
    height: 90%;
}

.game-window.easy{
    --difficulty: 2;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.game-window.hard{
    --difficulty: 1;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(14, 1fr);
}


.cell{
    color: rgb(245, 222, 179);
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    font-size: calc(var(--difficulty)*var(--cell-font));
    transition: transform 100ms ease-in;

}

.cell.revealed{
    background-color: rgb(245, 222, 179, 0.7);
    animation: cell-reveal;
    animation-duration: 220ms;
}

@keyframes cell-reveal{
    50%{
        transform: scale(1.35);
    }
}

.cell.bomb{
   
}

.cell:hover{
    transform: scale(.85);
}

.fa-flag{
    width: calc(var(--difficulty)*20px);
    height: calc(var(--difficulty)*20px);;
    color: red;
}

.bomb-1{
    color: blue;
}

.bomb-2{
    color: green;
}
.bomb-3{
    color: red;
}
.bomb-4{
    color: purple;
}
.bomb-5{
    color: darkorange;
}
.bomb-6{
    color: magenta;
}
.bomb-7{
    color: maroon;
}
.bomb-8{
    color: black;
}

#difficulty-selector{
    display: flex;
    width: 200px;
    gap: .5rem;
    
}

#difficulty-selector > p{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius: 40%;
    box-shadow: 0 0 10px 10px rgba(255,255,255, 0.1);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--game-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "E";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    content: "H";
    justify-content: center;
    align-items: center;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @keyframes bounce{
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }

  @keyframes slide-in {
      0%{transform: translateY(-30%);}
      100%{transform: translateY(0);}
  }

  #game-select-window{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.4);
    z-index: 2;
    

  }

  #game-select{
    width: 800px;
    height: 400px;
    background-color: var(--game-bg-color);
    border-radius: 2rem;
    box-shadow: 0 0 10px 10px rgba(56, 56, 56, 0.75);
    color: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-shadow: 10px 10px rgba(255,255,255, 0.1);
    opacity: 0;
    transition: all ease 2s;
  }


#game-select-title{
    font-size: 8rem;
    
}

#game-select-subtitle{
    font-size: 4rem;
}

.game-select-menu-item:hover{
    animation: bounce 1s infinite;
    color: whitesmoke;
    user-select: none;
}

#game-select-options{
    margin-top: 2rem;
    font-size: 3.3rem;
    display: flex;
    gap: 5rem;
}

#game-select-options > p{
    cursor: pointer;

}


.hidden{
    display: none !important;
}


#game-select.visible {
    opacity: 1;
    color: whitesmoke;
    animation-name: bounce, slide-in;
    animation-duration: 5s, 2s;
    animation-delay: 2s, 0s;
    animation-timing-function: ease, ease;
    animation-iteration-count: infinite, 1;
}
